.taskTitle {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.taskTitle h3 {
    font-family: cursive;
    word-break: break-all;
}

.taskTitle div {
    flex-grow: 1;
}

.taskTitle .buttonAdd {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(7, 163, 7);
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.taskTitle .buttonRemove {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 600;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
}